@import url('https://fonts.googleapis.com/css?family=Changa:400,500,700');
body {
  font-family: 'Changa', sans-serif;
  font-size: 12px;
  background-color: #F0EDE9;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
}

.menu_header {
  height: 45px;
  width: 100%;
  background-color: rgb(15, 15, 15);
}

.menu_header .inner_menu_header {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

.menu_header .inner_menu_header a {
  display: inline-block;
  height: 100%;
  line-height: 45px;
  color: white;
  margin: 0 0 0 30px;
  font-size: 15px;
  text-decoration: none;
}

.menu_header .inner_menu_header a:hover {
  color: #439420;
}

.master_head {
  background-color: #000;
  background-image: url("assets/head-bg-d7c3cd0600046b15b4d4eeb94ea8a948.d7c3cd060004.png");
  -webkit-font-smoothing: subpixel-antialiased;
  background-size: auto 514px;
  height: 112px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.master_head .mc_logo {
  text-align: center;
  background-image: url("assets/580b57fcd9996e24bc43c2f5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 500px;
  display: inline-block;
  height: 100px;
  margin-top: 50px;
  z-index: 22;
}

.hero_container {
  background: url("assets/hero_image.jpg") 50% 0 no-repeat;
  height: 421px;
  position: relative;
  width: 100%;
  text-align: center;
}

.hero_container .getmc_btn {
  background-color: #31ae1f;
  box-shadow: 0 -4px 0 rgba(21, 108, 0, 0.5) inset, -4px 0 rgba(100, 253, 31, 0.5) inset, 4px 0 rgba(21, 108, 0, 0.5) inset, 0 4px rgba(100, 253, 31, 0.99) inset;
  min-height: 100px;
  width: 330px;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  display: inline-block;
  margin-top: 100px;
  transition: all .5s;
}

.getmc_btn:hover {
  transform: scale(1.2);
  background-color: black;
}

.getmc_btn .text_big {
  margin: 20px 0 10px;
  font-weight: bold;
  display: block;
  font-size: 40px;
}

.getmc_btn .text_small {
  margin: 10px 0 20px;
  display: block;
  font-size: 23px;
}

.into__text {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}

.into__text span {
  margin-top: 10px;
  display: block;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

.highlighted__name {
  color: #FF6712;
  font-weight: bold;
  display: inline !important;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2) !important;
}

.page__content {
  /* background-image: url("assets/Wallpaper-minecraft_grass.png");
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover; */
}

.inner__page {
  width: 900px;
  margin: 0 auto;
}

.section_title {
  line-height: 28px;
  background: #fbfbfb;
  box-shadow: 0 0 12px #e6e6e6;
  border-bottom: 1px solid #e0e0e0;
  color: #000;
  font-size: 19px;
  padding: 25px 50px;
  margin-top: 25px;
}

.page__content .inner__page .section {
  padding: 50px;
  background-color: white;
  min-height: 100px;
  color: #181818;
  box-shadow: 0 0 9px 0 rgba(0,0,0,.05);
}

.textarea {
  font-weight: bold;
  color: #2796EA;
  font-size: 24px;
}

.section .additional__textarea {
  font-weight: bold;
  color: #7657B6;
  font-size: 20px;
  line-height: 27px;
}

.section img {
  width: 700px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
}

.participation__intro span {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 10px;
  display: block;
}

h1.b__title {
  font-weight: bold;
  color: #29C4B3;
  font-size: 24px;
  margin-bottom: 20px;
}

.green {
  color: #31ae1f;
}

.coupons {
  font-weight: bold;
  color: #29C4B3;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.coupons span {
  display: block;
  margin-top: 10px;
}

.step_privacy {
  font-size: 16px;
  line-height: 27px;
}

.step_privacy p {
  margin: 30px 0;
  display: block;
}

.footer {
  background-color: rgb(45, 45, 45);
  height: 300px;
  margin-top: 50px;
}

.inner__footer {
  width: 900px;
  margin: 0 auto;
  color: white;
  padding: 20px 0;
}

.copyright {
  font-size: 13px;
  text-align: center;
  font-weight: 400;
}

@media only screen and (min-device-width:280px) and (max-device-width:920px) {
  .menu_header .inner_menu_header {
    width: 100%;
  }
  .menu_header .inner_menu_header a:first-child {
    margin: 0 20px 0 20px;
  }
  .menu_header .inner_menu_header a:hover {
    color: #439420;
  }
  .hero_container {
    width: 100%;
  }
  .inner__page {
    width: 100%;
  }
  .section img {
    width: 80%;
    height: auto;
  }
  .inner__footer {
    width: 100%;
  }
  table {
    width: 100%;
  }
}

@media only screen and (min-device-width:280px) and (max-device-width:520px) {
  .master_head .mc_logo {
    width: 90%;
  }
  .hero_container .getmc_btn {
    width: 90%;
  }
  .menu_header {
    height: auto;
    text-align: center;
  }
  .inner_menu_header a {
    margin: 0 0 0 0 !important;
    display: block !important;
  }
  .section img {
    width: 100%;
    height: auto;
    border: 2px solid white;
  }
}
